<div>
    <img [src]="sport.imgUrl" class="card-img-top" alt="...">
    <!-- property binding [src] -->
    <h5 class="card-title"  [ngClass]="eventCliked? 'text-color': ''"> {{sport.title}} </h5>
    {{(readMore) ? sport.description : sport.description | slice:0:50}} 
    <span *ngIf="!readMore">...</span>
    <a href="javascript:;" *ngIf="!readMore" (click)="readMore=true">[Read More]</a>
    
</div>
<div>
    <button (click)="clickSport(sport)" class="btn btn-primary" >Go To Wiki page</button>
</div>


