<div class="page_content">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Sport</th>
                <th scope="col">Date</th>
                <th scope="col">Time</th>
                <th scope="col">Teams</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Cricket</td>
                <td>17th July 2021</td>
                <td>11:00 am</td>
                <td>India vs New Zealand</td>
            </tr>
            <tr>
                <td>Badminton</td>
                <td>18th July 2021</td>
                <td>11:00 am</td>
                <td>All England Open Badminton Tournament Men's</td>
            </tr>
            <tr>
                <td>Basketball</td>
                <td>19th July 2021</td>
                <td>11:00 am</td>
                <td>Team Arkansas vs Fort Worth</td>
            </tr>
            <tr>
                <td>Swimming</td>
                <td>20th July 2021</td>
                <td>11:00 am</td>
                <td>Team Arkansas vs Fort WorthSwimming at the 2020 Summer Olympics – Men's 200 metre butterfly</td>
            </tr>
            <tr>
                <td>Football</td>
                <td>21st July 2021</td>
                <td>11:00 am</td>
                <td>FIFA Club World Cup</td>
            </tr>
        </tbody>
    </table>
</div>